
.tests-list__item{
    background: #eeeeee;
    display: block;
    list-style: none;
    margin-top: 10px;
    border-top: 5px solid #007bff;
    padding: 5px ;
    position:relative;
}
.tests-list__item-link{
    bottom:0;
}

.tests-list__item-qn{
    float:right;
}

.tests-list__item-title{
    font-size: 20px;
}
td{
    padding-right: 5px;
}
.green-bg{
    background: #44dd44;
}