* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 23px;
    font-size: 16px;

    color: rgba(52, 52, 52, 0.87);
}
div{
    display:block;
}
.header-container {
    height: 90px;
    background: #000000;
}

header {
    width: 1024px;
    margin: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 20px;
    color: #FFFFFF;
}

header div {
    display: inline-block;
    height: 100%;
}

.fb, .vk, .telegram {
    display: block;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.social {
    display: inline-block;
    width: 50px;
}

.fb {
    background: url("../img/fb.png");
}

.vk {
    background: url("../img/vk.png");
}

.telegram {
    background: url("../img/telegram.png");
}

.logo {
    width: 206px;
}

.logo__orange {

}

.header__main {
    width: 605px;
}

/*CONTENT*/
.wrapper {
    width: 1024px;
    margin: 30px auto;
}

.left-sidebar{
    width: 260px;
    height: 395px;
    float:left;
    padding: 10px 0;
    background: #F7F7F7;
    box-shadow: 6px 6px 0px #E1E1E1;
    position:relative;
}
.nav-link{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 40px;
    font-size: 16px;
    height:40px;
    padding:0px 10px 12px 20px;
    display:block;
    width:100%;
    color: #000000;
}
.nav-link.active{
    color: #1B65C0;
    border-left:5px solid #1B65C0;
    padding-left: 15px;
}

.content{
    width: 720px;
    float:right;
}

