.logo{
    background: url(../img/pbo.jpg);
    width: 100px;
    height: 100px;
    display: block;
    background-size: contain;
    float:left;
}
.tests-list__item {
    background: #eeeeee;
    display: block;
    list-style: none;
    margin-top: 10px;
    border-top: 5px solid #007bff;
    padding: 5px;
    position: relative;
}

.tests-list__item-link {
    bottom: 0;
}

.tests-list__item-qn {
    float: right;
}

.tests-list__item-title {
    font-size: 20px;
}

td {
    padding-right: 5px;
}

.green-bg {
    background: #44dd44;
}

.red-bg {
    background: #dd4444;
}

.splash-heading {
    font-size: 1.75rem;
}

.splash-container {
    margin-top: 8rem;
}

.signal-bar {
    background: repeating-linear-gradient(45deg,
    #ff0,
    #ff0 10px,
    #000 10px,
    #000 20px);
    width: 100%;
    height: 20px;
}

.signal-bar-top {
    position: absolute;
    top: 0;
}

.signal-bar-bottom {
    position: absolute;
    bottom: 0;
}

table thead, .qrow{
    border-bottom: 1px solid #999;
}

.ticket-table{
    width:100%;
}
.ticket-table__head{
    font-size:1.1em;
}
.ticket-table__row{
    display:block;
    width:100%;
    margin-bottom:10px;
}

.ticket-table .ticket-table__row:nth-child(odd){
    border-bottom: 4px solid #007bff;
}

.ticket-table__answer-row{
    padding:15px;
}
.ticket-table__cell{
    display:inline;
}

footer{
    background: #595d63;
    padding: 30px 0 ;
    color: #fff;
}
footer .nav-link{
    font-size: 13px;
    color: #fff;
}

.content{
    margin-bottom:50px;
}
.courses-table__control{
    margin-right: 25px;
    cursor:pointer;
}

.question-row{
    background: azure;
    border-top: 3px solid #d1ecf1;
}
.answer-row td{
    padding-left: 20px;
}