.tree input[type="checkbox"]{
    display:none;
}
.tree__node label{
    cursor:pointer
}
.tree__node label:before{
    display: inline-block;
    width:15px;
    content: '+';
    cursor:pointer;
}
.tree__node-checkbox:checked ~ label:before{
    content: '-';
}
.tree__node-body{
    display:none;
}
.tree__node-checkbox:checked ~ .tree__node-body{
    display:block;
}
.tree li {
    list-style: none;
}
