<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{default.html}">
<th:block layout:fragment="content">

    <h2>
        Организация работы по аттестации
    </h2>
    <div class="tow">
        <strong>Аттестация по вопросам безопасности проводится для специалистов организаций:</strong>
        <p>• осуществляющих деятельность по строительству, эксплуатации, консервации и ликвидации объекта,
            транспортированию опасных веществ, а также по изготовлению, монтажу, наладке, ремонту, техническому
            освидетельствованию, реконструкции и эксплуатации технических устройств (машин и оборудования), применяемых
            на объектах;</p>
        <p>• разрабатывающих проектную, конструкторскую и иную документацию, связанную с эксплуатацией объекта;</p>
        <p>• осуществляющих экспертизу безопасности;</p>
        <p>• осуществляющих предаттестационную подготовку и профессиональное обучение по вопросам безопасности;</p>
        <p>• осуществляющих строительный контроль.</p>
        <p>Аттестации специалистов по вопросам безопасности предшествует их подготовка по учебным программам,
            разработанным с учетом типовых программ, утверждаемых Федеральной службой по экологическому,
            технологическому и атомному надзору.</p>
        <strong>При аттестации по вопросам безопасности проводится проверка знаний:</strong>
        <p>А - общих требований промышленной безопасности, установленных федеральными законами и иными нормативными
            правовыми актами Российской Федерации;</p>
        <p>Б - требований промышленной безопасности по специальным вопросам, отнесенным к компетенции аттестуемого,
            установленным в нормативных правовых актах и нормативно-технических документах;</p>
        <p>Г - требований энергетической безопасности, установленных федеральными законами и иными нормативными
            правовыми актами Российской Федерации и нормативно-техническими документами;</p>
        <p>Д - требований безопасности гидротехнических сооружений, установленных федеральными законами и иными
            нормативными правовыми актами Российской Федерации и нормативно-техническими документами;</p>
        <strong>Аттестация специалистов проводится:</strong>
        <p>1) В комиссиях организаций, в которых работают аттестуемые (в том числе основных организаций) (аттестация
            членов аттестационных комиссий филиалов/структурных подразделений организаций (без права юридического лица)
            проводится в аттестационной комиссии организации);</p>
        <p>2) В Центральной аттестационной комиссии Федеральной службы по экологическому, технологическому и атомному
            надзору (ЦАК):</p>
        <p>• руководители организаций и их заместителей, в должностные обязанности которых входят вопросы обеспечения
        безопасности работ, численность работников которых превышает 5000 человек;</p>
        <p>• руководители аттестационных комиссий организаций, осуществляющих деятельность в области использования атомной
        энергии;</p>
        <p>• члены аттестационных комиссий организаций, численность работников которых превышает 5000 человек;</p>
        <p>• иные лица по решению председателя Центральной аттестационной комиссии или его заместителя.</p>
        <p>3) В территориальных аттестационных комиссиях Федеральной службы по экологическому, технологическому и атомному
        надзору (ТАК) по месту нахождения производственных объектов поднадзорных организаций, в которых работают
        аттестуемые:</p>
        <p>• руководители и члены аттестационных комиссий организаций, численность работников которых менее 5000 человек;</p>
        <p>• руководители и специалисты экспертных организаций, выполняющих работы для поднадзорных Федеральной службе по
        экологическому, технологическому и атомному надзору организаций;</p>
        <p>• специалисты организаций, осуществляющих подготовку и профессиональное обучение по вопросам безопасности;</p>
        <p>• иные лица по решению председателя Центральной аттестационной комиссии или его заместителя.</p>
        <p>Подготовка и аттестация специалистов по вопросам безопасности проводится в объеме, соответствующем должностным
        обязанностям. (Должностные инструкции специалистов разрабатываются организациями, эксплуатирующими опасные
        производственные объекты, с учетом специфики производственной деятельности и в компетенцию Ростехнадзора не
        входят).</p>
        <strong>Причина аттестации:</strong>
        <p>1) Первичная аттестация специалистов проводится не позднее одного месяца:</p>
        <p>• при назначении на должность;</p>
        <p>• при переводе на другую работу, если при осуществлении должностных обязанностей на этой работе требуется
        проведение аттестации по другим областям аттестации;</p>
        <p>• при переходе из одной организации в другую, если при осуществлении должностных обязанностей при работе в
        данной организации требуется проведение аттестации по другим областям аттестации.</p>
        <p>В случае изменения учредительных документов и/или штатного расписания организации ранее аттестованные
        специалисты, должностные обязанности которых не изменились, первичной аттестации не подлежат.</p>
        <p>2. Периодическая аттестация специалистов проводится не реже чем один раз в пять лет (три года).</p>

    </div>

</th:block>
</html>