<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{default.html}">
<th:block layout:fragment="content">

    <h2>
        Порядок аттестации и проверки знаний
    </h2>
    <div class="tow">
        <p>Перед аттестацией (проверкой знаний), работнику необходимо изучить теоретический материал, связанный
            непосредственно с областью аттестацией. Для этого работодатель направляет работника в специализированный
            учебный центр, где он должен получить необходимые теоретические знании и изучить нормативную документацию, а
            также «прогнать» тестовые вопросы в специальной программе Олимпокс (эти же самые тесты вы сможете найти на
            нашем ресурсе).</p>
        <p>Параллельно с этим, необходимо оформить обращение о направлении на аттестацию руководителей и специалистов по
            рекомендуемой форме Ростехнадзхора (форму можно скачать на сайте РТН), оплатить пошлину и ждать вызова
            работника на аттестацию.</p>
    </div>

</th:block>
</html>