<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{default.html}">
<th:block layout:fragment="content">

    <h2>
        Пример создания комиссии по проверке знаний (аттестационной)
    </h2>
    <div class="tow">
        <p>В данной статье рассмотрим пример создания аттестационной комиссии по проверке знаний требований промышленной
            безопасности при эксплуатации сетей газораспределения и газопотребления (Б.7.1).</p>
        <p>1. Для создания комиссии в первую очередь необходимо аттестовать в Ростехнадзоре не менее 3 специалиста из числа ИТР (1 – председатель комиссии из числа руководителей отделов, управлений и т.д., 2 члена комиссии).</p>
        <p>2. После получения протокола аттестации подготовить приказ о создании комиссии (пример приказа во вложении, внизу страницы).</p>
        <p>3. Также необходимо разработать программу подготовки к аттестации специалистов. По моему опыту, лучше ее утвердить приказом.</p>
        <p>Программа включает в себя перечень законодательно-нормативных актов, план подготовки, экзаменационные вопросы, а также ключи к тестам.</p>
        <p>4. По программе необходимо подготовить тестируемых, при необходимости провести консультации. Тестирование можно проводить устно, письменно, а можно воспользоваться сайтом.</p>
        <p>5. Результат тестирования оформляется протоколом, при необходимости можно оформить удостоверение.</p>

    </div>
    <div class="row">

        <div class="tree">
            <div class="tree__node tree__node-root">
                <input type="checkbox" class="tree__node-checkbox" id="checbkox1" checked="checked"/>
                <ul class="tree__node-body depth1">
                    <li class="tree__node-body__item">
                        <div class="tree__node">

                            <span class="doc-icon"></span>

                            <label>
                                <a href="/documents/%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B/1.%20%D0%9F%D1%80%D0%B8%D0%BA%D0%B0%D0%B7%20%D0%BE%20%D1%81%D0%BE%D0%B7%D0%B4%D0%B0%D0%BD%D0%B8%D0%B8%20%D0%BA%D0%BE%D0%BC%D0%B8%D1%81%D1%81%D0%B8%D0%B8%20%D0%BF%D0%BE%20%D0%BF%D1%80%D0%BE%D0%B2%D0%B5%D1%80%D0%BA%D0%B5%20%D0%B7%D0%BD%D0%B0%D0%BD%D0%B8%D0%B9%20%D0%91.7.1..docx" download="1. Приказ о создании комиссии по проверке знаний Б.7.1..docx">1. Приказ о создании комиссии по проверке знаний Б.7.1..docx</a>

                            </label>
                        </div>
                    </li>
                    <li class="tree__node-body__item">
                        <div class="tree__node">

                            <span class="doc-icon"></span>

                            <label>
                                <a href="/documents/%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B/2.%20%D0%9F%D1%80%D0%B8%D0%BA%D0%B0%D0%B7%20%D0%BE%D0%B1%20%D1%83%D1%82%D0%B2%D0%B5%D1%80%D0%B6%D0%B4%D0%B5%D0%BD%D0%B8%D0%B8%20%D0%9F%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%20%D0%91.7.1.doc" download="2. Приказ об утверждении Программ Б.7.1.doc">2. Приказ об утверждении Программ Б.7.1.doc</a>

                            </label>
                        </div>
                    </li>
                    <li class="tree__node-body__item">
                        <div class="tree__node">

                            <span class="doc-icon"></span>

                            <label>
                                <a href="/documents/%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B/3.%20%D0%9F%D1%80%D0%B8%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%BA%20%D0%9F%D1%80%D0%B8%D0%BA%D0%B0%D0%B7%D1%83.docx" download="3. Приложение к Приказу.docx">3. Приложение к Приказу.docx</a>

                            </label>
                        </div>
                    </li>
                    <li class="tree__node-body__item">
                        <div class="tree__node">

                            <span class="doc-icon"></span>

                            <label>
                                <a href="/documents/%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B/4.%20%D0%A4%D0%BE%D1%80%D0%BC%D0%B0%20%D0%9F%D1%80%D0%BE%D1%82%D0%BE%D0%BA%D0%BE%D0%BB%20%D0%B0%D1%82%D1%82%D0%B5%D1%81%D1%82%D0%B0%D1%86%D0%B8%D0%B8.docx" download="4. Форма Протокол аттестации.docx">4. Форма Протокол аттестации.docx</a>

                            </label>
                        </div>
                    </li>
                    <li class="tree__node-body__item">
                        <div class="tree__node">

                            <span class="doc-icon"></span>

                            <label>
                                <a href="/documents/%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B/5.%20%D0%A4%D0%BE%D1%80%D0%BC%D0%B0%20%D0%A3%D0%B4%D0%BE%D1%81%D1%82%D0%BE%D0%B2%D0%B5%D1%80%D0%B5%D0%BD%D0%B8%D1%8F.docx" download="5. Форма Удостоверения.docx">5. Форма Удостоверения.docx</a>

                            </label>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>

</th:block>
</html>