<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{default.html}">
<th:block layout:fragment="content">

    <h2>
        Пример создания комиссии по проверке знаний (аттестационной)
    </h2>
    <div class="tow">
        <p>В данной статье рассмотрим пример создания аттестационной комиссии по проверке знаний требований промышленной
            безопасности при эксплуатации сетей газораспределения и газопотребления (Б.7.1).</p>
        <p>1. Для создания комиссии в первую очередь необходимо аттестовать в Ростехнадзоре не менее 3 специалиста из числа ИТР (1 – председатель комиссии из числа руководителей отделов, управлений и т.д., 2 члена комиссии).</p>
        <p>2. После получения протокола аттестации подготовить приказ о создании комиссии (пример приказа во вложении, внизу страницы).</p>
        <p>3. Также необходимо разработать программу подготовки к аттестации специалистов. По моему опыту, лучше ее утвердить приказом.</p>
        <p>Программа включает в себя перечень законодательно-нормативных актов, план подготовки, экзаменационные вопросы, а также ключи к тестам.</p>
        <p>4. По программе необходимо подготовить тестируемых, при необходимости провести консультации. Тестирование можно проводить устно, письменно, а можно воспользоваться сайтом.</p>
        <p>5. Результат тестирования оформляется протоколом, при необходимости можно оформить удостоверение.</p>

    </div>

</th:block>
</html>