<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{default.html}">
<th:block layout:fragment="content">

    <h2>
        Обратная связь
    </h2>
    <div class="tow">
        <p>По всем вопросам обращаться:</p>
        <p>e-mail: <a href="mailto:email@email.com">email@email.com</a></p>
        <p>Вконтакте: <a href="https://vk.com/id439124185">
            vk.com
        </a></p>
        <p>Инстаграм: <a href="https://instagram.com/prombez24?utm_source=ig_profile_share&amp;igshid=1sjzd2nw9gm2t">
            
            prombez24
        </a></p>

    </div>

</th:block>
</html>