<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default.html}">
<th:block layout:fragment="content">
    <!--/*@thymesVar id="course" type="ru.testservice.serviceapp.model.Course"*/-->
    <!--<div class="row">-->
        <!--<h4>-->
            <!--Подготовка к аттестации работников организаций по курсу:-->
        <!--</h4>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<th:block th:replace="blocks/courses-list::courses-list(courses=${allCourses}, showControls=${false})"></th:block>-->
    <!--</div>-->

    <div class="row">
        <div class="quote" style="width:505px; float:right">
            <span class="quote__icon"></span>
            <div class="quote__text">В наибольшей безопасности тот, кто начеку, даже когда нет опасности.</div>
            <div class="quote__autor">Сайрус Паблиус</div>
        </div>
    </div>
    <div class="row">
        <h5 th:text="${course.name}"></h5>
    </div>
    <div class="row">
        <th:block th:replace="blocks/add-section-form::add-section-form">
        </th:block>
    </div>

    <div class="row">
        <th:block th:replace="blocks/sections-list::sections-list">
        </th:block>
    </div>
    <div class="row" th:if="${course.text1 ne null}" >
        <h5 th:text="${course.title1}"></h5>
        <p th:text="${course.text1}"></p>
    </div>

</th:block>
</html>