<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="zpPyz4lSabOSTf2M4Dsb_HoLFe7TmXFmeR7_N7wZfiM"/>
    <meta name="yandex-verification" content="8d85488a66f18016"/>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:text="${htmlTitle}">Сервис тестирования</title>
    <meta name="description"
          content="Наш ресурс предназначен для подготовки специалистов к аттестации и проверке знаний как внутри предприятия, так и в Ростехнадзоре по требованиям промышленной безопасности, энергетической безопасности, электробезопасности, безопасности гидротехнических сооружений, пожарной безопасности и охраны труда."/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/css/tree.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(51715478, "init", {
            id: 51715478,
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/51715478" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
<div class="container">
    <th:block th:replace="includes/header :: header ">
        <!--empty-->
    </th:block>
    <div class="wrapper">
        <!--<div class="left-sidebar" th:if="${viewName eq 'main' or viewName eq 'documents'}">-->
        <div class="sidebar-toggler">
            Меню
        </div>
        <div class="left-sidebar">
            <th:block th:replace="includes/nav :: nav">
                <!--empty-->
            </th:block>
            <th:block sec:authorize="${hasRole('ROLE_ADMIN')}" th:if="${viewName eq 'ticket' or viewName eq 'test-page'}">
                <div class="left-sidebar__ads" id="yandex_rtb_R-A-351395-2"></div>
                <div class="left-sidebar__ads" id="yandex_rtb_R-A-351395-1"></div>
            </th:block>
        </div>
        <!--<div class="content" th:classappend="${viewName eq 'main' or viewName eq 'documents' } ? 'content-main'">-->
        <div class="content content-main">
            <th:block layout:fragment="content">
                <!--empty-->
            </th:block>
            <div class="row"  th:if="${viewName ne 'main'}" sec:authorize="${hasRole('ROLE_ADMIN')}">
                <div id="yandex_rtb_R-A-351395-3"></div>
            </div>
        </div>
        <!--<div class="right-sidebar" th:if="${viewName ne 'main'}">-->
        <!--<div class="row">-->
        <!--<div class="ad-block ">-->
        <!--РЕКЛАМА-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
        <!--<div class="ad-block">-->
        <!--РЕКЛАМА-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
    <th:block th:replace="includes/footer :: footer ">
        <!--empty-->
    </th:block>
</div>
<script type="application/javascript" src="/js/jquery.min.3.1.1.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>
<script type="application/javascript" src="/js/bootstrap.js"></script>
<script type="application/javascript" src="/js/docs.js"></script>
<script type="application/javascript" src="/js/scripts.js"></script>
<script type="application/javascript" src="/js/tests.js"></script>
<script type="application/javascript" src="/js/test-edit.js"></script>
<th:block th:if="${viewName ne 'main'}" sec:authorize="${hasRole('ROLE_ADMIN')}">
    <script type="text/javascript">
        (function(w, d, n, s, t) {
            w[n] = w[n] || [];
            w[n].push(function() {
                Ya.Context.AdvManager.render({
                    blockId: "R-A-351395-3",
                    renderTo: "yandex_rtb_R-A-351395-3",
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
</th:block>
<th:block th:if="${viewName eq 'ticket' or viewName eq 'test-page'}" sec:authorize="${hasRole('ROLE_ADMIN')}">

    <script type="text/javascript">
        (function (w, d, n, s, t) {
            w[n] = w[n] || [];
            w[n].push(function () {
                Ya.Context.AdvManager.render({
                    blockId: "R-A-351395-1",
                    renderTo: "yandex_rtb_R-A-351395-1",
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
    <script type="text/javascript">
        (function (w, d, n, s, t) {
            w[n] = w[n] || [];
            w[n].push(function () {
                Ya.Context.AdvManager.render({
                    blockId: "R-A-351395-2",
                    renderTo: "yandex_rtb_R-A-351395-2",
                    async: true
                });
            });
            t = d.getElementsByTagName("script")[0];
            s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//an.yandex.ru/system/context.js";
            s.async = true;
            t.parentNode.insertBefore(s, t);
        })(this, this.document, "yandexContextAsyncCallbacks");
    </script>
</th:block>
</body>
</html>