<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Сервис тестирования</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
    <link rel="stylesheet" href="/css/tree.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />

</head>
<body>
<div class="container">
    <th:block th:replace="includes/header :: header ">
        <!--empty-->
    </th:block>
    <div class="wrapper">
        <div class="left-sidebar">
            <th:block th:replace="includes/nav :: nav">
                <!--empty-->
            </th:block>

        </div>
        <div class="content">
            <th:block layout:fragment="content">
                <!--empty-->
            </th:block>
        </div>
    </div>
    <th:block th:replace="includes/footer :: footer ">
        <!--empty-->
    </th:block>
</div>
<script type="application/javascript" src="/js/jquery.min.3.1.1.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>
<script type="application/javascript" src="/js/bootstrap.js"></script>
<script type="application/javascript" src="/js/docs.js"></script>
<script type="application/javascript" src="/js/scripts.js"></script>
<script type="application/javascript" src="/js/tests.js"></script>
<script type="application/javascript" src="/js/test-edit.js"></script>
</body>
</html>