<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default.html}">
<th:block layout:fragment="content">

    <p>
        Наш сайт предназначен для подготовки специалистов к сдаче экзамена в Ростехнадзоре по требованиям промышленной
        безопасности, энергетической безопасности, безопасности гидротехнических сооружений а так же по вопросам охраны
        труда и ПТМ
    </p>
    <div class="row">
        <div class="col-lg-5 col-md-5">
            <th:block th:replace="blocks/add-course-form::add-course-form"></th:block>
            <th:block th:replace="blocks/courses-list::courses-list"></th:block>
        </div>
    </div>
</th:block>
</html>