<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="nav">
    <nav class="nav flex-column nav-pills"  aria-orientation="vertical">
        <a class="nav-link " th:classappend="${isMain == true} ? 'active': ''" id="v-pills-home-tab" data-toggle="pill" href="/"
           role="tab" aria-controls="v-pills-home" aria-selected="true">Главная</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
            Экзаменационные билеты и тесты
        </a>
        <a class="nav-link"  data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
            Порядок аттестации
        </a>
        <a class="nav-link"  data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
            Области аттестации
        </a>
        <a class="nav-link"  data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
            Гос. Пошлина
        </a>
        <a class="nav-link"  data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
            Нормативная документация
        </a>
        <a class="nav-link"  data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
            Адреса комиссий
        </a>
        <a class="nav-link"  data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
            Учебные центры
        </a>
    </nav>
</th:block>
</html>