<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Сервис тестирования</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/tree.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body class="splash">
<div class="container">
    <th:block th:replace="includes/header :: header ">
        <!--empty-->
    </th:block>
    <div class="wrapper wrapper-login">
        <div class="login-form">
            <form method="post" th:action="@{/splash}">
                <div class="login-form__heading">
                    Вход
                </div>
                <div class="form-field">
                    <label for="j_pass">Логин:</label>
                    <input id="j_login" name="j_login" type="text"/>
                </div>
                <div class="form-field">
                    <label for="j_pass">Пароль:</label>
                    <input id="j_pass" name="j_pass" type="password"/>
                </div>
                <a href="#" class="login-form__forgot">Забыли пароль?</a>
                <button type="submit" class="btn login-form__btn"> Войти</button>
            </form>
        </div>
        <div class="alert" th:if="${error}">
            <span class="alert__icon"></span>
            <div class="alert__text">
                Неправильный логин и/или пароль!
            </div>
        </div>

    </div>
    <th:block th:replace="includes/footer :: footer ">
        <!--empty-->
    </th:block>
</div>
</body>
</html>