<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{default.html}">
<th:block layout:fragment="content">

    <h2>
        Государственная пошлина
    </h2>
    <div class="tow">
        <p>За выдачу работнику организации, осуществляющей эксплуатацию опасных производственных объектов, аттестата в
            области промышленной безопасности уплачивается государственная пошлина в размерах и порядке, которые
            установлены законодательством Российской Федерации о налогах и сборах.</p>
        <p>Размер пошлины:</p>
        <p>• выдача документа об аттестации – 1300 руб.</p>
        <p>• внесение изменений в документ об аттестации, в связи с переменой фамилии, имени, отчества – 450 руб.</p>
        <p>• выдача дубликата документа об аттестации, в связи с его утерей – 1300 руб.</p>
        <p>Государственная пошлина за аттестацию подлежит уплате до подачи документов на ее совершение. Плательщикам
            государственной пошлины в назначении платежа необходимо указывать "Государственная пошлина за проведение
            аттестации... (указать фамилии и инициалы аттестуемых работников)". Отсутствие уплаты является основанием
            для отказа в проведении аттестации.</p>
        <p>В случае прохождения аттестации с отрицательным результатом уплаченная сумма госпошлины возврату не
            подлежит.</p>

    </div>

</th:block>
</html>