<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default.html}">
<th:block layout:fragment="content">
    <div class="row">
        <a class="btn btn-inline" th:href="@{/tests/{id}(id=${test.id})}">Назад</a>
        <h5 style="display:inline-block" th:text="'Редактирование теста '+ ${test.title}"></h5>
    </div>

    </p>
    <div class="row">
        <form action="" th:object="${test}">
            <label for="description"><strong>
                1. Описание теста
            </strong></label>
            <textarea style="width: 100%" name="description" th:field="*{description}" id="description" cols="30"
                      rows="10">
        </textarea>
        </form>
    </div>

    <div class="row">

        <label for="docxFile"><strong>2. Загрузка вопросов из файла</strong></label>

        <div class="form-field-framed file-input-wrapper ">
            <form th:action="@{/questions/upload}" id="questionFilesForm">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="hidden" name="testId" th:value="${test.id}"/>
                <input type="file" name="docxFiles" multiple="multiple"
                       class="form-control-file"
                       id="docxFile"
                       accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>
            </form>

            <div class="loader"></div>
            <small class="load">Загружаю...</small>
            <button type="submit" class="btn btn-primary open-file-dialog">Загрузить</button>
            <small id="docxFileHelp" class="info">Разрешенный тип файлов - docx</small>
        </div>
    </div>
    <div class="row">
        <div class="alert invalid-feedback" style="display: none;">
            <span class="alert__icon"></span>
            <div class="alert__text">
                Выберите один или несколько файлов формата docx!
            </div>
        </div>
    </div>
    <div class="row">
        <p><strong>3. Редактирование вопросов</strong> <a th:href="@{/tests/{id}/delete-all-questions(id=${test.id})}">Удалить
            все вопросы</a></p>
        <div class="new-question-form question">

            <form action="" th:method="put" th:object="${newQuestion}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                <input type="hidden" th:for="*{id}"/>
                <div class="form-field row">
                    <label for="questionText" class="col-sm-2 col-form-label">Текст вопроса</label>
                    <div class="col-sm-10">
                <textarea class="new-question-form__textarea" id="questionText" th:field="*{questionText}">
                </textarea>
                    </div>
                </div>
                <div class="form-field row answer-group" th:each="answer, iter: *{answers}">
                    <label th:for="'answer'+${iter.index}" class="col-sm-2 col-form-label"
                           th:text="'Ответ '+${iter.index + 1}"></label>
                    <textarea class="new-question-form__answer-textarea" th:id="'answer'+${iter.index}"
                              th:field="*{answers[__${iter.index}__].answerText}">
                        </textarea>

                    <div class="checkbox checkbox-green new-question-form__checkbox">
                        <label>
                            <input type="checkbox" th:id="'answer'+${iter.index}+'-correct'"
                                   th:field="*{answers[__${iter.index}__].correct}">
                            <div class="check"></div>
                            <span class="label">Верный ответ</span>
                        </label>
                    </div>

                </div>
                <div class="row">
                    <button class="btn btn-link add-answer-nq">
                        Добавить ответ
                    </button>
                </div>
                <button type="submit" class="btn btn-primary">
                    Добавить вопрос
                </button>
            </form>
        </div>
        <div class="question" th:each="question : ${questions.getContent()}">
            <a th:href="@{/questions/delete/{id}(id=${question.id})}" title="Удалить"
               class="question__remove fa fa-trash-alt"></a>
            <div class="question__text" th:text="${question.questionText}"> Кто в соответствии с Федеральным законом от
                27.07.2010 № 190-ФЗ «О
                теплоснабжении» является потребителем тепловой энергии?
            </div>

            <div class="question__answers-list">
                <div class="question__answers-list-item" th:each="answer : ${question.answers}">
                    <div class="checkbox checkbox-green">
                        <label>
                            <input type="checkbox" th:checked="${answer.correct}" class="asnwer-correct"
                                   th:attr="data-id=${answer.id}">
                            <div class="check"></div>
                            <span class="label" th:text="${answer.answerText}"></span>
                        </label>
                    </div>
                    <div class="question__answers-list-item__remove fa fa-times" title="Удалить"
                         th:attr="data-id=${answer.id}"
                    ></div>
                </div>

            </div>
            <div class="question__additional-answer">
                <form th:action="@{/questions/add-answer}" th:method="post" class="add-answer-form">
                    <input type="hidden" name="questionId" th:value="${question.id}">
                    <input type="text" name="additionalAnswer" placeholder="Еще один ответ">
                    <button type="submit" class="btn btn-primary add-answer">Добавить ответ</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" th:if="${questions.getTotalPages() > 0}">
            <li class="page-item" th:classappend="${pageActive == pageNum} ? 'active': ''"
                th:each="pageNum : ${#numbers.sequence(0, questions.getTotalPages()-1)}">
                <a class="page-link" th:href="@{/tests/{id}/edit(id=${test.id},page=${pageNum})}"
                   th:text="${pageNum+1}"></a>
            </li>
        </ul>
    </nav>
</th:block>
</html>