<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{default.html}">
<th:block layout:fragment="content">
    <div class="row adslot">

    </div>
    <div class="row" th:if="${not #strings.isEmpty(test.descriptionTitle)}">
        <h4 th:text="${test.descriptionTitle}">
        </h4>
    </div>
    <div class="row" th:if="${not #strings.isEmpty(test.descriptionContent)}">
        <p th:text="${test.descriptionContent}"></p>
    </div>
    <div class="row">
        <div class="quote" style="width:505px; float:right">
            <span class="quote__icon"></span>
            <div class="quote__text">В наибольшей безопасности тот, кто начеку, даже когда нет опасности.</div>
            <div class="quote__autor">Сайрус Паблиус</div>
        </div>
    </div>
    <!--<div class="row">-->
    <!--<a th:href="@{/section/{id}(id=${test.section.id})}" th:text="${test.section.name}"></a>-->
    <!--</div>-->
    <div class="row">
        <h5>
            <strong th:text="${test.title}"></strong>
            <a sec:authorize="${hasRole('ROLE_ADMIN')}"
               th:href="@{/tests/{id}/edit(id=${test.id})}" class="edit-link">
                <i class="fa fa-edit"></i>
            </a>
        </h5>
    </div>

    <div class="row tickets">
        <th:block th:if="${test.questionsNumber > 0}">
            <th:block th:if="${fcc > 0}">
                <ul class="list list-striped" th:classappend="${tcc == 0} ? 'double-col'">
                    <li class="list__item"
                        th:each="i : ${#numbers.sequence( 1, fcc ) }">
                        <a th:href="@{/ticket/(testId=${test.id},ticketNum=${i})}">
                            Билет №
                            <th:block th:text="${i}"></th:block>
                        </a>
                    </li>
                </ul>
            </th:block>
            <th:block th:if="${scc > 0}">
                <ul class="list list-striped" th:classappend="${tcc == 0} ? 'double-col'">
                    <li class="list__item" th:each="i : ${#numbers.sequence( fcc+1, scc )}">
                        <a th:href="@{/ticket/(testId=${test.id},ticketNum=${i})}">
                            Билет №
                            <th:block th:text="${i}"></th:block>
                        </a>
                    </li>
                </ul>

            </th:block>
            <th:block th:if="${tcc > 0}">
                <ul class="list list-striped">
                    <li class="list__item" th:each="i : ${#numbers.sequence( scc+1,  tcc )}">
                        <a th:href="@{/ticket/(testId=${test.id},ticketNum=${i})}">
                            Билет №
                            <th:block th:text="${i}"></th:block>
                        </a>
                    </li>
                </ul>

            </th:block>

        </th:block>
        <th:block th:if="${test.questionsNumber == 0}">
            В тесте еще нет вопросов.
        </th:block>
    </div>
    <div class="row" th:if="${testLiterature ne null and testLiterature.size() > 0}">
        <strong><a href="/docs">Литература для подготовки</a></strong>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Литература (на странице билета) -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-8461088662369825"
             data-ad-slot="6162673501"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <table class="table table-headless">
            <tr th:each="lit : ${testLiterature}">
                <td th:text="${lit.title}" style="text-align:left;"></td>
            </tr>
        </table>
    </div>
    <br>
    <br>
</th:block>
</html>