<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default.html}">
<th:block layout:fragment="content">
    <h2 >
        <th:block th:text="${test.title}"></th:block>
        <span class="badge badge-secondary" style="float:right" th:text="'Вопросов: '+${test.questionsNumber}">Вопросов: 0</span>
    </h2>
    <p>
        <a th:href="@{/tests/{id}/edit(id=${test.id})}">Редактировать</a>
    </p>
    <p th:text="${test.description}"></p>
    <div class="list-group">
        <a th:href="@{/ticket/(testId=${test.id})}" class="list-group-item list-group-item-action" th:each="i : ${#numbers.sequence( 0, test.questionsNumber/5)}">
            Билет № <th:block th:text="${i+1}"></th:block>
        </a>
    </div>
    <br>
    <br>
    <!--<nav aria-label="Page navigation example">-->
        <!--<ul class="pagination justify-content-center">-->
            <!--<li class="page-item disabled">-->
                <!--<a class="page-link" href="#" tabindex="-1">Назад</a>-->
            <!--</li>-->
            <!--<li class="page-item"><a class="page-link" href="#">1</a></li>-->
            <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
            <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
            <!--<li class="page-item">-->
                <!--<a class="page-link" href="#">Вперед</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</nav>-->

</th:block>
</html>