<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{default.html}">
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-lg-5 col-md-5">
            <h3 th:text="${'Раздел '+section.name+' '+section.code}"></h3>
            <ul class="tests-list">
                <li class="tests-list__item new"
                    sec:authorize="${hasRole('ROLE_ADMIN')}">
                    <!--/*@thymesVar id="newTest" type="ru.testservice.serviceapp.model.Test"*/-->
                    <form action="#" th:action="@{/section/{id}(id=${section.id})}" th:object="${newTest}"
                          th:method="put">
                        <input type="hidden" th:field="*{section.id}"/>
                        <input type="hidden" th:field="*{id}"/>
                        <input type="text" class="form-control" th:field="*{title}"
                               th:classappend="${#fields.hasErrors('title')} ? 'is-invalid': 'is-valid'"
                               placeholder="Новый тест"/>
                        <div class="invalid-feedback"
                             th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                            Title errors
                        </div>
                        <textarea name="description" class="form-control" th:field="*{description}"
                                  th:classappend="${#fields.hasErrors('description')} ? 'is-invalid': 'is-valid'"
                                  placeholder="Новое описание"></textarea>
                        <div class="invalid-feedback"
                             th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
                            Description errors
                        </div>
                        <button type="submit" class="tests-list__item-link btn btn-link add-test">Добавить</button>
                    </form>
                </li>
                <li th:each="test : ${tests}" class="tests-list__item"
                    th:attr="data-order=${test.order}, data-id=${test.id}"

                >
                    <th:block th:if="${editableTest == null || editableTest.id != test.id}">
                        <div class=" field tests-list__item-qn">
                            Вопросов: <span th:text="${test.questionsNumber}">0</span>
                        </div>
                        <div th:text="${test.title}" class="field tests-list__item-title"></div>
                        <div th:text="${test.description}" class="field tests-list__item-description"></div>
                        <a th:href="@{/tests/{testId}(testId=${test.id})}"
                           class="tests-list__item-link  btn btn-link">Перейти</a>
                        <a th:href="@{/section/{id}/delete(id=${section.id},deleteId=${test.id})}"
                           sec:authorize="${hasRole('ROLE_ADMIN')}"
                           class="tests-list__item-link tests-list__item-remove-link  btn btn-link">Удалить</a>
                        <a th:href="@{/section/{id}(editId=${test.id},id=${section.id})}"
                           class="tests-list__item-link tests-list__item-edit-link  btn btn-link"
                           sec:authorize="${hasRole('ROLE_ADMIN')}">Редактировать</a>
                        <th:block sec:authorize="${hasRole('ROLE_ADMIN')}">
                            |
                        </th:block>
                        <div class="sort-up btn btn-link"
                             sec:authorize="${hasRole('ROLE_ADMIN')}">Вверх
                        </div>
                        <div class="sort-down btn btn-link"
                             sec:authorize="${hasRole('ROLE_ADMIN')}">Вниз
                        </div>

                    </th:block>
                    <div th:if="${editableTest != null && editableTest.id == test.id}">
                        <!--/*@thymesVar id="editableTest" type="ru.testservice.serviceapp.model.Test"*/-->
                        <form action="#" th:action="@{/section/{id}(id=${section.id},editId=${editableTest.id})}"
                              th:object="${editableTest}" method="post">
                            <input type="hidden" th:field="*{id}"/>
                            <input type="hidden" th:field="*{section.id}"/>
                            <input type="text" class="form-control" th:field="*{title}"
                                   th:classappend="${#fields.hasErrors('title')} ? 'is-invalid': 'is-valid'"
                                   placeholder="Новый тест"/>
                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                                Title errors
                            </div>
                            <textarea name="description" class="form-control" th:field="*{description}"
                                      th:classappend="${#fields.hasErrors('description')} ? 'is-invalid': 'is-valid'"
                                      placeholder="Новое описание"></textarea>
                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
                                Description errors
                            </div>
                            <button type="submit" class="tests-list__item-link btn btn-link add-test">Сохранить</button>
                            <a th:href="@{/section/{id}(id=${section.id})}"
                               class="tests-list__item-link tests-list__item-edit-cancel-link btn btn-link">
                                Отмена
                            </a>
                        </form>

                    </div>

                </li>

            </ul>
    </div>
    </div>
</th:block>
</html>