<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default.html}">
<th:block layout:fragment="content">
    <h2>
        <th:block th:text="${test.title}"></th:block>
    </h2>
    <form th:action="@{/ticket/check/}" th:method="post" th:object="${ticketDto}">
        <input type="hidden" th:field="${ticketDto.testId}"/>
        <input type="hidden" th:field="${ticketDto.errorsCount}"/>
        <div class="ticket-table">
            <div class="ticket-table__head">
                <div class="ticket-table__cell">Вопросы</div>
            </div>
            <th:block th:each="question, questIter : *{questionList}">
                <div class="ticket-table__row">
                    <div class='ticket-table__cell' th:rowspan="${question.answers.size()+1}"
                         th:utext="${question.questionText + (question.multiAnswer ? '<br/><small>* Может быть несколько ответов</small>' :'') }"></div>
                    <input type="hidden"
                           th:field="*{questionList[__${questIter.index}__].id}"/>
                    <input type="hidden"
                           th:field="*{questionList[__${questIter.index}__].questionText}"/>
                </div>
                <div class="ticket-table__row ticket-table__answer-row">
                    <div class="ticket-table__cell">
                        <div th:each="answer, answIter: *{questionList[__${questIter.index}__].answers}"
                        >

                            <input type="hidden"
                                   th:field="*{questionList[__${questIter.index}__].answers[__${answIter.index}__].id}"/>
                            <input type="hidden"
                                   th:field="*{questionList[__${questIter.index}__].answers[__${answIter.index}__].answerText}"/>
                            <input type="hidden"
                                   th:field="*{questionList[__${questIter.index}__].answers[__${answIter.index}__].correct}"/>
                            <th:block th:if="${ticketChecked and (answer.checked and answer.correct or (not answer.checked) and answer.correct)}">
                                <div class="green-bg">
                                    <input type="checkbox"
                                           th:disabled="${true}"
                                           th:field="*{questionList[__${questIter.index}__].answers[__${answIter.index}__].checked}"
                                           th:id="'answer'+${answIter.index}+${questIter.index}"/>
                                    <label th:for="'answer'+${answIter.index}+${questIter.index }"
                                           th:text="${answer.answerText}">Answer text</label>
                                </div>
                            </th:block>
                            <th:block th:if="${ticketChecked and answer.checked and not answer.correct}">
                                <div class="red-bg">
                                    <input type="checkbox"
                                           th:disabled="${true}"
                                           th:field="*{questionList[__${questIter.index}__].answers[__${answIter.index}__].checked}"
                                           th:id="'answer'+${answIter.index}+${questIter.index}"/>
                                    <label th:for="'answer'+${answIter.index}+${questIter.index }"
                                           th:text="${answer.answerText}">Answer text</label>
                                </div>
                            </th:block>
                            <th:block th:if="${ticketChecked and not answer.checked and not answer.correct}">
                                <div>
                                    <input type="checkbox"
                                           th:disabled="${true}"
                                           th:field="*{questionList[__${questIter.index}__].answers[__${answIter.index}__].checked}"
                                           th:id="'answer'+${answIter.index}+${questIter.index}"/>
                                    <label th:for="'answer'+${answIter.index}+${questIter.index }"
                                           th:text="${answer.answerText}">Answer text</label>
                                </div>
                            </th:block>
                            <th:block th:if="${not ticketChecked }">
                                <div>
                                    <input type="checkbox"
                                           th:field="*{questionList[__${questIter.index}__].answers[__${answIter.index}__].checked}"
                                           th:id="'answer'+${answIter.index}+${questIter.index}"/>
                                    <label th:for="'answer'+${answIter.index}+${questIter.index }"
                                           th:text="${answer.answerText}">Answer text</label>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
        <button type="submit" class="btn btn-primary" th:if="${not ticketChecked}">Проверить</button>
        <th:block th:if="${ticketChecked and incorrectCount > ticketDto.errorsCount }" th:text="'Вы совершили более '+ ${ticketDto.errorsCount} + ' ошибок. Тест не пройден'"/>
        <th:block th:if="${ticketChecked and incorrectCount <= ticketDto.errorsCount }" th:text="'Тест успешно пройден!'"/>
        <a th:href="@{/tests/{testId}(testId=${ticketDto.testId})}" th:if="${ ticketChecked}">Назад к билетам</a>

    </form>


</th:block>
</html>