<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="add-course-form">
    <div class="row new-course-form" sec:authorize="${hasRole('ROLE_ADMIN')}">
        <!--/*@thymesVar id="newCourse" type="ru.testservice.serviceapp.model.Course"*/-->
        <form action="#" th:action="@{/}" th:object="${newCourse}" th:method="put" >
            <div class="new-course-form__heading">Добавление нового курса</div>
            <span class="add-img"></span>
            <input type="text"  th:field="*{name}" class="form-control-inline"
                   style="width:481px;"
                   th:classappend="${#fields.hasErrors('name')} ? 'is-invalid': 'is-valid'"
                   placeholder="Введите нименование курса"/>
            <div class="invalid-feedback"
                 th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                Title errors
            </div>
            <button type="submit" class="btn btn-primary form-control-inline">+Добавить курс</button>
            <input type="text"  th:field="*{title1}" class="form-control-inline" id="title1"
                   style="width:481px;    margin: 5px 0 5px 38px;"
                   th:classappend="${#fields.hasErrors('title1')} ? 'is-invalid': 'is-valid'"
                   placeholder="Введите заголовок примечания"/>
            <textarea type="text"  th:field="*{text1}" class="form-control-textarea"
                   style="width:481px;"
                   th:classappend="${#fields.hasErrors('text1')} ? 'is-invalid': 'is-valid'"
                      placeholder="Примечание (выводится внизу таблицы разделов на странице курса)"></textarea>
            <!--<small>Нажмите на картинку, чтобы добавить значок курса. Рекомендуемый размер - 32x32px, формат - PNG.</small>-->
        </form>
    </div>
</th:block>
</html>