<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:fragment="add-section-form">
    <div class="row new-course-form " sec:authorize="${hasRole('ROLE_ADMIN')}">
        <!--/*@thymesVar id="newSection" type="ru.testservice.serviceapp.model.Section"*/-->
        <form action="#" th:action="@{/course/{id}(id=${course.id})}" th:object="${newSection}" th:method="put">
            <div class="new-course-form__heading">Добавление нового раздела</div>
            <input type="hidden" th:field="*{course.id}">
            <input type="hidden" th:field="*{id}">
            <div class="form-field-inline" style="width:172px;">
                <label for="code">Область аттестации</label>
                <input type="text" id="code" class="form-control" th:field="*{code}"
                       th:classappend="${#fields.hasErrors('code')} ? 'is-invalid': 'is-valid'"
                />
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('code')}" th:errors="*{code}">
                    Title errors
                </div>
            </div>
            <div class="form-field-inline" style="width:546px;">
                <label for="name">Наименование раздела</label>
                <input type="text" id="name" class="form-control" th:field="*{name}"
                       th:classappend="${#fields.hasErrors('name')} ? 'is-invalid': 'is-valid'"
                />
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                    Title errors
                </div>
            </div>

            <div class="form-field-inline" >
                <button type="submit" class=" btn btn-primary">+Добавить</button>
            </div>
        </form>
    </div>
</th:block>
</html>