<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="courses-list(courses, showControls)">
    <table class="table-headless courses-table">

        <tbody>
        <!--/*@thymesVar id="courses" type="java.util.List<ru.testservice.serviceapp.model.Course>"*/-->
        <!--/*@thymesVar id="editCourse" type="ru.testservice.serviceapp.model.Course"*/-->
        <tr th:each="course, status : ${courses}" th:attr="data-order=${course.order}, data-id=${course.id}" class="course-item orderable">
            <td th:if="${editCourse eq null or editCourse.id ne course.id}"  style="width:575px">
                <a th:href="@{/course/{id}(id=${course.id})}" th:text="${course.name}"></a>
            </td>
            <th:block th:if="${(showControls eq null or showControls) and (editCourse == null or editCourse.id ne course.id)}">
                <td>
                    <a th:href="@{/course/{id}(id=${course.id})}">
                        <i class="courses-table__control fa fa-sign-in-alt" title="Перейти"></i>
                    </a>
                </td>
                <th:block sec:authorize="${hasRole('ROLE_ADMIN')}">
                    <td>
                        <a data-fancybox data-type="ajax" th:attr="data-src=@{/course/edit/{id}(id=${course.id})}">
                            <i class="courses-table__control far fa-edit" title="Редактировать"></i>
                        </a>

                        <a th:href="@{/delete/{id}(id=${course.id})}">
                            <i class="courses-table__control far fa-trash-alt" title="Удалить"></i>
                        </a>
                    </td>
                    <td>

                        <div class="sort-up btn-link">
                            <i class="fas fa-caret-up"></i>
                        </div>
                        <div class="sort-down btn-link">
                            <i class="fas fa-caret-down"></i>
                        </div>
                    </td>
                </th:block>
            </th:block>
        </tr>
        </tbody>
    </table>
</th:block>
</html>