<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="course-edit-form">
    <div class="new-course-form" sec:authorize="${hasRole('ROLE_ADMIN')}">
        <!--/*@thymesVar id="newCourse" type="ru.testservice.serviceapp.model.Course"*/-->
        <form action="#" id="editCourseForm" th:action="@{/course/edit}" th:object="${newCourse}" th:method="put" >
            <input type="hidden" th:field="*{id}" id="id"/>
            <input type="hidden" th:field="*{order}" id="order">

            <div class="new-course-form__heading">Редактирование курса</div>
            <span class="add-img"></span>
            <input type="text"  th:field="*{name}" class="form-control-inline"
                   id="name"
                   style="width:481px;"
                   th:classappend="${#fields.hasErrors('name')} ? 'is-invalid': 'is-valid'"
                   placeholder="Введите нименование курса"/>
            <div class="invalid-feedback"
                 th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                Title errors
            </div>
            <button type="submit" class="btn btn-primary form-control-inline">Сохранить</button>
            <small>Нажмите на картинку, чтобы добавить значок курса. Рекомендуемый размер - 32x32px, формат - PNG.</small>
        </form>
    </div>
</th:block>

<th:block th:fragment="test-edit-form">
    <div class=" edit-section-form"  sec:authorize="${hasRole('ROLE_ADMIN')}">
        <form  id="test-edit-form" action="#" th:action="@{/section/{id}(id=${test.section.id})}" th:object="${test}"
              th:method="put">
            <input type="hidden" th:field="*{section.id}"/>
            <input type="hidden" th:field="*{order}"/>
            <input type="hidden" th:field="*{id}"/>
            <div class="form-field">
                <label for="title">Название</label>
                <input id="title" type="text" class="form-control" th:field="*{title}"
                       style="width:100%"
                       th:classappend="${#fields.hasErrors('title')} ? 'is-invalid': 'is-valid'"
                       placeholder="Новый тест"/>
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                    Title errors
                </div>
            </div>
            <div class="form-field-inline" style="width:172px;">
                <label for="code">Область аттестации</label>
                <input type="text" id="code" class="form-control" th:field="*{code}"
                       th:classappend="${#fields.hasErrors('code')} ? 'is-invalid': 'is-valid'"
                />
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('code')}" th:errors="*{code}">
                    Title errors
                </div>

            </div>
            <div class="form-field">
                <label for="cipher">Шифр</label>
                <input id="cipher" class="form-control" th:field="*{cipher}"
                          style="width: 100%;"
                          th:classappend="${#fields.hasErrors('cipher')} ? 'is-invalid': 'is-valid'"
                          placeholder="Новый шифр"/>
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('cipher')}" th:errors="*{cipher}">
                    cipher errors
                </div>
            </div>
            <div class="form-field-inline" style="width:172px">
                <label for="qCount">Кол-во вопросов в билете</label>
                <input type="text" id="qCount" class="form-control" th:field="*{questionsCount}"
                       th:classappend="${#fields.hasErrors('questionsCount')} ? 'is-invalid': 'is-valid'"
                />
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('questionsCount')}" th:errors="*{questionsCount}">
                    Title errors
                </div>
            </div>
            <div class="form-field-inline" style="width: 172px;">
                <label for="errCount">Кол-во ошибок в билете</label>
                <input type="text" id="errCount" class="form-control" th:field="*{errorsCount}"
                       th:classappend="${#fields.hasErrors('errorsCount')} ? 'is-invalid': 'is-valid'"
                />
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('errorsCount')}" th:errors="*{errorsCount}">
                    Title errors
                </div>
            </div>
            <div class="form-field-inline" style="width: 172px;">
                <label for="ticketsCount">Кол-во билетов в тесте</label>
                <input type="text" id="ticketsCount" class="form-control" th:field="*{ticketsCount}"
                       th:classappend="${#fields.hasErrors('ticketsCount')} ? 'is-invalid': 'is-valid'"
                />
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('ticketsCount')}" th:errors="*{ticketsCount}">
                    Title errors
                </div>
            </div>
            <button type="submit" style="margin:10px 0 0"
                    class="btn btn-primary ">Сохранить
            </button>
        </form>
    </div>
</th:block>

<th:block th:fragment="section-edit-form">
    <div class=" edit-section-form " id="editSection" sec:authorize="${hasRole('ROLE_ADMIN')}"
        th:classappend="${hasErrors} ? 'fancybox-content' : ''">
        <!--/*@thymesVar id="newSection" type="ru.testservice.serviceapp.model.Section"*/-->
        <form action="#" id="editSectionForm" th:action="@{/section/{id}/edit(id=${section.id})}" th:object="${section}" th:method="post">
            <div class="edit-section-form__heading">Добавление нового раздела</div>
            <input type="hidden" id="id" th:field="*{id}">
            <input type="hidden" id="courseId" th:field="*{course.id}">
            <input type="hidden" id="order" th:field="*{order}">

            <div class="form-field-inline" style="width:546px;">
                <label for="name">Наименование раздела</label>
                <input type="text" id="name" class="form-control" th:field="*{name}"
                       th:classappend="${#fields.hasErrors('name')} ? 'is-invalid': 'is-valid'"
                />
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                    Title errors
                </div>
            </div>
            <div class="form-field-inline" style="width: 215px"></div>
            <div class="form-field-inline" >
                <button type="submit" class=" btn btn-primary">Сохранить</button>
            </div>
        </form>
    </div>
</th:block>

<th:block th:fragment="folderEdit">
    <div class="form-frame docs-form-modal">
        <div class="docs-form__heading">
            Добавление папки
        </div>
        <!--/*@thymesVar id="editFolder" type="ru.testservice.serviceapp.model.Folder"*/-->
        <form th:method="POST" id="edit-folder-form" th:action="@{/folder/add}" th:object="${editFolder}">

            <input type="hidden" id="folderIdEdit" th:field="*{id}"/>
            <input type="hidden" id="parentFolderEdit"
                   th:field="*{parentFolder.id}"/>
            <input type="hidden" id="parentFolderEditTitle"
                   th:field="*{parentFolder.title}"/>
            <div class="docs-form__form-field">
                <label for="parentFolderEdit">Родительская папка</label>
                <div class="select docs-form__select">
                    <div class="select__trigger" th:text="${parentFolder.flatTitle}"></div>
                    <span class="select__trigger-arrow"></span>
                    <ul class="select__list">
                        <li class="select__list-item" th:attr="data-value=${folder.id}"
                            th:each="folder : ${flatFolders}" th:text="${folder.flatTitle}">Option1
                        </li>
                    </ul>
                </div>
            </div>
            <div class="docs-form__form-field">
                <label for="folderTitleEdit">Наименование папки</label>
                <input type="text" name="folderTitle"
                       id="folderTitleEdit"
                       class="docs-form__input"
                       th:field="*{title}"
                       placeholder="Новая папка"/>
                <div class="invalid-feedback"
                     style="display:none"
                     id="folderExist">
                    Папка уже существует. Смените название или выберите другую родительскую папку.
                </div>
                <div class="invalid-feedback"
                     id="emptyTitle"
                     style="display:none"
                     >
                    Укажите название папки.
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Сохранить папку</button>
        </form>
    </div>

</th:block>
</html>
