<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="sections-list">
    <table class="table ">
        <thead>
        <tr>
            <th scope="col" style="width: 500px; text-align:left;">Наименование</th>
            <th scope="col" sec:authorize="${hasRole('ROLE_ADMIN')}"></th>
            <th scope="col" sec:authorize="${hasRole('ROLE_ADMIN')}"></th>
            <th scope="col" sec:authorize="${hasRole('ROLE_ADMIN')}"></th>

        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="editSection" type="ru.testservice.serviceapp.model.Section"*/-->
        <!--/*@thymesVar id="course" type="ru.testservice.serviceapp.model.Course"*/-->
        <tr th:each="section, status : ${sections}" class="section-item orderable"
            th:attr="data-order=${section.order}, data-id=${section.id}">
            <td style="text-align: left;">
                <a th:href="@{/section/{id}(id=${section.id})}" th:text="${section.name}">
                </a>
            </td>


            <th:block sec:authorize="${hasRole('ROLE_ADMIN')}">
                <td>
                    <a href="javascript:void(0)" th:attr="data-src=@{/section/{id}/edit(id=${section.id})}"
                       data-fancybox data-type="ajax">
                        <i class="sections-table__control far fa-edit" title="Редактировать"></i>
                    </a>
                </td>
                <td>
                    <a th:href="@{/course/{cid}/deletesecton/{id}(id=${section.id}, cid=${course.id})}">
                        <i class="sections-table__control far fa-trash-alt" title="Удалить"></i>
                    </a>
                </td>
                <td>
                    <div class="sort-up btn-link">
                        <i class="fas fa-caret-up"></i>
                    </div>
                    <div class="sort-down btn-link">
                        <i class="fas fa-caret-down"></i>
                    </div>
                </td>
            </th:block>

        </tr>

        </tbody>
    </table>
</th:block>
</html>