<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:fragment="node-body(rootFolder, storageEntities)">
    <ul class="tree__node-body depth1">
        <li class="tree__node-body__item" th:each="entity : ${storageEntities}">
            <span th:classappend="${entity.contentType eq 'application/pdf'} ? 'pdf-icon': 'doc-icon'"></span>
            <a th:href="@{/docs/{id}/{filename}(id=${entity.id}, filename=${entity.name})}" th:text="${entity.name}" th:attr="download=${entity.name}"></a>
        </li>
        <li class="tree__node-body__item folder-item" th:each="folder : ${rootFolder.childFolders}">
            <div class="tree__node">
                <input type="checkbox" th:checked="${openFolderId ne null and openFolderId == folder.id}" class="tree__node-checkbox" th:id="${'checkbox'+folder.id}"/>
                <i class="label-before"></i>
                <i class="folder-icon"></i>
                <label  th:attr="data-id=${folder.id}" th:for="${'checkbox'+folder.id}" th:text="${folder.title}">Документы</label>
                <th:block th:if="${openFolderId ne null and openFolderId == folder.id}"
                          th:replace="blocks/tree-node::node-body(rootFolder=${folder}, storageEntities=${openedFolderFiles})"
                ></th:block>
            </div>
        </li>
    </ul>
</th:block>
</html>