<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="footer">
    <footer>
        <div class="footer__main">
            <div class="footer__main-col1">
                <div class="logo logo-footer">PromBez<span class="logo__orange">24</span>.ru
                </div>
                <p><strong>Онлайн тестирование</strong></p>
                <p>Подготовка специалистов к аттестации в Ростехнадзоре</p>
                <p><a href="/confidentials">Политика конфиденциальности</a></p>
            </div>
            <div class="footer__main-col2">
                <div class="footer__col-heading">Мы в соцсетях:</div>
                <div class="socials">
                    <div class="social"><a href="https://vk.com/id439124185" target="_blank">
                        <i class="vk vk-colored"></i>
                    </a></div>
                    <div class="social"><i class="fb fb-colored"></i></div>
                    <div class="social">
                        <a href="https://instagram.com/prombez24?utm_source=ig_profile_share&igshid=1sjzd2nw9gm2t"
                           target="_blank">
                            <i class="fab fa-instagram insta-soc insta-soc-col"></i>
                        </a></div>
                </div>
            </div>
            <div class="footer__main-col3">
                <div class="footer__col-heading">Карта сайта:</div>
                <ul class="footer-nav">

                    <li><a
                            href="/">Главная</a></li>
                    <li><a
                            href="/attestation-organization">Организация аттестации</a></li>
                    <li><a href="/state-tax">Государственная
                        пошлина</a></li>
                    <li><a
                            href="/attestation-order">Порядок аттестации и проверки знаний</a></li>
                    <li><a
                            href="/commission-creation">
                        Пример создания комиссии по проверке знаний (аттестационной)
                    </a></li>
                    <li><a
                            href="/docs">Нормативная документация</a></li>
                    <li><a
                            href="/contacts">Обратная связь</a></li>


                </ul>
            </div>

        </div>
        <div class="footer__sub">
            <div class="copyright">PromBez24.ru ©
                <th:block th:text="${#dates.year(#dates.createNow())}"></th:block>
            </div>
        </div>


    </footer>

</th:block>
</html>