<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer">
    <footer>
        <div class="footer__main">
            <div class="footer__main-col1">
                <div class="logo logo-footer">PromBez<span class="logo__orange">24</span><span
                        class="logo__suffix">.ru</span></div>
                <p><strong>Онлайн тестирование</strong></p>
                <p>Подготовка специалистов к аттестации в Ростехнадзоре</p>
            </div>
            <div class="footer__main-col2">
                <div class="footer__col-heading">Мы в соцсетях:</div>
                <div class="socials">
                    <div class="social"><i class="vk vk-colored"></i></div>
                    <div class="social"><i class="fb fb-colored"></i></div>
                    <div class="social"><i class="telegram telegram-colored"></i></div>
                </div>
            </div>
            <div class="footer__main-col3">
                <div class="footer__col-heading">Карта сайта:</div>
                <ul class="footer-nav">
                    <li><a href="#">Нормативные документы</a></li>
                    <li><a href="№">Экзаменационные билеты и тесты</a></li>
                    <li><a href="№">Порядок аттестации</a></li>
                    <li><a href="№">Области аттестации</a></li>
                    <li><a href="№">Гос. Пошлина</a></li>
                    <li><a href="№">Нормативная документация</a></li>
                    <li><a href="№">Адреса комиссий</a></li>
                    <li><a href="№">Учебные центры</a></li>
                </ul>
            </div>

        </div>
        <div class="footer__sub">
            <div class="copyright" >PromBez24.ru © <th:block th:text="${#dates.year(#dates.createNow())}"></th:block></div>
        </div>

    </footer>
</th:block>
</html>