<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
    <div class="header-container">
        <header>

            <div class="logo" onclick="window.location.href='/'"><span class="logo-img"></span>
                <div class="logo__text">
                    PromBez<span class="logo__orange">24</span><span class="logo__suffix">.ru</span>
                </div>
            </div>
            <div class="header__main"><strong>Онлайн тестирование</strong>
                <span>Подготовка специалистов к аттестации в Ростехнадзоре</span>
            </div>
            <div class="socials">
                <div class="social"><a href="https://vk.com/id439124185"><i class="vk"></i></a></div>
                <div class="social"><i class="fb"></i></div>
                <div class="social"><a
                        href="https://instagram.com/prombez24?utm_source=ig_profile_share&igshid=1sjzd2nw9gm2t">
                    <i class="fab fa-instagram insta-soc"></i>
                </a></div>
            </div>
        </header>
    </div>
</th:block>
</html>